<%- include('header', {title: `Est Info`}); -%>

  <div class="p-5 mb-4 bg-light rounded-3 bgimg">
    <div class="container-fluid py-5">
      <h1 class="display-5 fw-bold" style="color: white">
        <%= estb.name %>
      </h1>

    </div>
  </div>

  <div class="row align-items-md-stretch ">
    <div class="col-md-6 ">
      <div class="h-100 p-5 text-white bg-dark rounded-3 displayL">
        <div class="col-md-10 mb-3 submit-label">
          <label for="Address" class="form-label" style="color: white">Address</label>
          <textarea disabled class="form-control" name="Address" rows="3"><%= estb.address %></textarea>
        </div>
        <div class="col-md-10 mb-3 submit-label">
          <label for="area" class="form-label" style="color: white">Area</label>
          <textarea disabled class="form-control" name="area" rows="1"><%= estb.area %></textarea>
        </div>
        <div class="col-md-5 mb-3 submit-label">
          <label for="contact" class="form-label" style="color: white">Contact Number</label>
          <textarea disabled class="form-control" name="contact" rows="1"> <%= estb.contact %></textarea>
        </div>
      </div>
    </div>
    <div class="col-md-6 ">
      <div class="h-100 p-5 bg-light border rounded-3 displayR">

        <div class="col-md-7 mb-3 submit-label">
          <label for="cuisine" class="form-label" style="color:black">Cuisine</label>
          <textarea disabled class="form-control" name="cuisine" rows="2"> <%= estb.cuisine %></textarea>
        </div>
        <div class="col-md-10 mb-3 submit-label">
          <label for="comments" class="form-label" style="color:black">Comments</label>
          <% for (let i=0; i < comments.length; i +=1 ) {%>
            <textarea disabled class="form-control" name="comments"
              rows="1"> <%= comments[i].username %>: <%= comments[i].comment %> </textarea>
            <% } %>


        </div>
        <form action="/listing/<%= estb.id %>" method="POST">
          <div class="col-md-10 mb-3 submit-label">
            <!-- <label for="comments" class="form-label" style="color:black">Add Comments</label> -->
            <input type="text" class="form-control" name="comment" placeholder="Input comments here ">

            <input type="submit" value="Add Comments" />
        </form>
      </div>
      <div class="editbtn">
        <button> <a href='/listing/<%= estb.id %>/edit'>Edit Page</a> </button>
      </div>


    </div>
  </div>
  <%- include('footer'); -%>