<%- include('header', {title: `Est Info`}); -%>

  <div class="p-5 mb-4 bg-light rounded-3">
    <div class="container-fluid py-5">
      <h1 class="display-5 fw-bold">
        <%= data[0].name %>
      </h1>

    </div>
  </div>

  <div class="row align-items-md-stretch">
    <div class="col-md-6 ">
      <div class="h-100 p-5 text-white bg-dark rounded-3">
        <div class="col-md-6 mb-3 submit-label">
          <label for="Address" class="form-label">Address</label>
          <textarea disabled class="form-control" name="Address" rows="3"><%= data[0].address %></textarea>
        </div>
        <div class="col-md-8 mb-3 submit-label">
          <label for="zone" class="form-label">Zone</label>
          <textarea disabled class="form-control" name="zone" rows="1"><%= data[0].zone %></textarea>
        </div>
        <div class="col-md-5 mb-3 submit-label">
          <label for="contact" class="form-label">Contact Number</label>
          <textarea disabled class="form-control" name="contact" rows="1"> <%= data[0].contact %></textarea>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="h-100 p-5 bg-light border rounded-3">

        <div class="col-md-7 mb-3 submit-label">
          <label for="cuisine" class="form-label" style="color:black">Cuisine</label>
          <textarea disabled class="form-control" name="cuisine" rows="2"> <%= data[0].cuisine %></textarea>
        </div>
        <div class="col-md-5 mb-3 submit-label">
          <label for="ratings" class="form-label" style="color:black">Ratings</label>
          <textarea disabled class="form-control" name="ratings" rows="1"> To be advised</textarea>
        </div>
        <div class="col-md-5 mb-3 submit-label">
          <label for="comments" class="form-label" style="color:black">comments</label>
          <textarea disabled class="form-control" name="comments" rows="1"> comments </textarea>
        </div>
      </div>
    </div>
  </div>
  <%- include('footer'); -%>