<%- include('header', {title: `Establishments Record`}); -%>
  <h1>Establishments Record</h1>
  <label for="zone">Select from zone:</label>
  <select name="zone" id="zone">
    <% for (let i=0; i < zoneData.zones.length; i +=1) {%>
      <option value="<% zoneData.zones[i] %>">
        <%= zoneData.zones[i] %>
      </option>
      <% } %>
  </select>
  <br>
  <label for="cuisine">Select from cusine:</label>
  <select name="cuisine" id="cuisine">
    <option value="volvo">Chinese</option>
    <option value="western">western</option>
    <option value="Viet">Mercedes</option>
    <option value="Thai">Audi</option>
  </select>
  <table class="table table-striped table-sm table-responsive-md">
    <thead>
      <tr class="thead">
        <th scope="col">Index</th>
        <th scope="col">Name</th>
        <th scope="col">Zone</th>
        <th scope="col">Ratings</th>
        <th scope="col">Actions</th>

      </tr>
    </thead>
    <tbody>
      <!-- Create an row for each sighting -->
      <% for (let i=0; i < dataObj.data.length; i +=1) {%>
        <tr>
          <th scope="row" class="theader">
            <%= i %>
          </th>
          <td class="tdata">
            <a href="<%= `/listing/${dataObj.data[i].id}` %>">
              <%= dataObj.data[i].name %>
            </a>
          </td>
          <td class="tdata">
            <%= dataObj.data[i].zone %>
          </td>
          <td class="tdata">
            <%= dataObj.data[i].ratings %>
          </td>
          <td>
            <form action="/listing/<%= dataObj.data[i].id %>?_method=DELETE" method="POST">
              <input type="submit" value="Delete" />
            </form>
          </td>

        </tr>
        <% }; %>
    </tbody>
  </table>


  <%- include('footer'); -%>